@font-face {
  font-family: "Gyeonggi_Batang_Regular";
  src: url("../src/fonts/Batang_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Gyeonggi_Batang_Regular";
}
